{% extends 'realtorhub/layout.html' %}

{% block title %} Home {% endblock %}

{% block body %}
{% load custom_filters %}
    <form action="{% url 'search' %}" method="post" >
        {% csrf_token %}
        <input autofocus placeholder="Search" type="text" name="name" required>
        <input type="submit" value="Search">
    </form>    

    <form id="sort_form" action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <label for="sort_by">Sort By</label>
        <select name="sort_by" id="sort_by">
            <option>--Choose a option--</option>
            <option value="name_asc">Property Name (A to Z)</option>
            <option value="name_desc">Property Name (Z to A)</option>
            <option value="date_asc">Nearest Registry Date</option>
            <option value="date_desc">Farthest Registry Date</option>
            <option value="time">Time Created</option>
        </select>
    </form>
    
    {% if properties is None %}

        <h1 style="position: absolute; left: 50%; top: 50%;">EMPTY</h1>

    {% else %}

        <!-- bootstrap table -->
        <table class="table table-bordered custom-table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">City</th>
                <th scope="col">Price</th>
                <th scope="col">Sai</th>
              </tr>
            </thead>
            <tbody>
                {% for property in properties %}

                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'property' property_id=property.pk %}">{{ property.property_name }}</a></td>
                        <td>{{ property.city }}</td>
                        <td>{{ property.total_amount|intcomma_in }}</td>
                        <td>{{ property.sai|intcomma_in }}</td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
   
    {% endif %}
    
    <script>

        document.addEventListener('DOMContentLoaded', function() {

            // Whenever the user changes the sort_by option
            document.querySelector('#sort_by').onchange = () => {
                document.querySelector('#sort_form').submit()
            }
        })

    </script>

{% endblock %}