{% extends 'realtorhub/layout.html' %}

{% block title %} Property {% endblock %}

{% block body %}

    <p>{{property.property_name}}</p>
    <p>{{property.buyer}}</p>
    <p>{{property.seller}}</p>
    <p>{{property.dealer}}</p>
    <p>{{property.state}}</p>
    <p>{{property.city}}</p>
    <p>{{property.address1}}</p>
    <p>{{property.address2}}</p>
    <p>{{property.nearby}}</p>
    <p>{{property.total_amount}}</p>
    <p>{{property.rate}}</p>
    <p>{{property.advance_payment}}</p>
    <p>{{property.payment_condition}}</p>
    <p>{{property.expenses}}</p>
    <p>{{property.registry_date}}</p>
    <p>{{property.sai}}</p>
    <p>{{property.size}}</p>
    <p>{{property.size_unit}}</p>

{% endblock %}