{% extends 'realtorhub/layout.html' %}

{% load static %}

{% block head %} 
<link rel="stylesheet" href="{% static 'realtorhub/property_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}


{% block title %} Property {% endblock %}

{% block body %}
    <form id="edit-form" action="{% url 'edit' property_id=property.pk %}" method="get">
        {% csrf_token %}
        {% load custom_filters %}
        <h1>
            {{property.property_name}}
            <button id="edit-button" type="submit"><i class="fa fa-pencil"></i> </button>
        </h1>

        <p id="registry_date"><b>Registry Date:</b>{{property.registry_date}}</p>

        <p id="property_size"><b>Property Size:</b>{{property.size}} {{property.size_unit}}</p>

        {% if property.marla %}
            <p id="marla"><b>Marla:</b>{{property.marla}} marla</p>
        {% else %}
            <p id="marla"><b>Marla:</b>{{property.marla}} </p>
        {% endif %}

        <div class="row">
            <div class="column">
                <h2>Buyers</h2>
                <h5>{{property.buyer_1}}</h5>
                <h5>{{property.buyer_2}}</h5>
                <h5>{{property.buyer_3}}</h5>
                <h5>{{property.buyer_4}}</h5>
                <h5>{{property.buyer_5}}</h5>
            </div>
            <div class="column">
                <h2>Dealer</h2>
                <h5>{{property.dealer_1}}</h5>
                <h5>{{property.dealer_2}}</h5>
            </div>
            <div class="column">
                <h2>Seller</h2>
                <h5>{{property.seller}}</h5>
            </div>
        </div>

        <div class="container">
            <div class="payment">
                <h2>Payment</h2>
                <div class="payment-row">
                    <div class="payment-column">
                        <h4>Total Amount: </h4>
                        <p>{{property.total_amount|intcomma_in}}</p>
                    </div>
                    <div class="payment-column">
                        <h4>Sai: </h4>
                        <p>{{property.sai|intcomma_in}}</p>    
                    </div>                
                </div>
                <div class="payment-row">
                    <div class="payment-column">
                        <h4>Expenses: </h4>
                        <p>{{property.expenses|intcomma_in}}</p>    
                    </div>
                    <div class="payment-column">
                        <h4>Rate: </h4>
                        <p>{{property.rate}}</p>    
                    </div>
                </div>
            </div>
            <div class="address">
                <h2>Address</h2>
                <div class="address-row">
                    <div class="address-column">
                        <h4>State</h4>
                        <p>{{property.state}}</p>
                    </div>
                    <div class="address-column">
                        <h4>City</h4>
                        <p>{{property.city}}</p>
                    </div>
                </div>
                <div class="address-row">
                    <div class="address-column">
                        <p><b>Address 1:</b> {{property.address1}}</p>
                        <p><b>Nearby:</b> {{property.nearby}}</p>
                    </div>
                </div>
            </div>
            <div class="payment_condition">
                <h2>Payment Condition</h2>
                <p>{{ property.payment_condition|safe }}</p>
            </div>
        </div>
    </form>

    <form id="delete-form" method="post">
        {% csrf_token %}
        <button id="delete-button" type="submit"><i class="material-icons">&#xe872;</i></button>
    </form>        

    <script>

        document.addEventListener('DOMContentLoaded', function() {
        
            // Confirm if he user wants to edit or not
            document.querySelector('#edit-form').onsubmit = function(event) {
                var edit_result = confirm("Are you sure you want to edit this property?")

                if (!edit_result) {
                    event.preventDefault()
                }
            }


            // Confirm if the user wants to delete or not
            document.querySelector('#delete-form').onsubmit = function(event) {
                var delete_result = confirm("Are you sure you want to delete the property?");

                if (!delete_result) {
                    event.preventDefault();
                }
            }

        })

    </script>

{% endblock %}